* {
    box-sizing: border-box;
}
body {
    background-color: #F6F6F6;
    font: {
        family: Tahoma;
        size: 16px;
    }
}
ul , ol {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}